@{
    ViewData["Title"] = "Movie List";
}
<title>@ViewData["Title"] - Movie App</title>
<div class="text-center">
    <h2>My Movie List</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Are you <span style="color: palevioletred; font-weight: bolder">@ViewData["Name"]</span> right? ... <b>You are, thank goodness you back</b></p>
</div>
